<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="useOsAuth" value="false" />
      <add key="adminUser" value="administrator" />
      <add key="adminPass" value="P@ssw0rd" />
      <add key="ouPath" value="OU=Mac,OU=Workstations,DC=ad,DC=company,DC=net" />
    </appSettings>
</configuration>